@font-face {
  font-family: "yg-jalnan";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@import "https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap";
html {
  scroll-behavior: smooth;
}
body {
  font-family: inter, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #888;
  overflow-x: hidden;
  font-size: 15px;
}
p {
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 24px;
}
* {
  margin: 0;
  padding: 0;
}
.navbar-toggler:focus,
a:focus,
input:focus,
textarea:focus,
button:focus,
.btn:focus,
.btn.focus,
.btn:not(:disabled):not(.disabled).active,
.btn:not(:disabled):not(.disabled):active {
  text-decoration: none;
  outline: none;
  outline: none !important;
  border-color: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.form-check-input:checked {
  background-color: #ffed8b;
  border-color: #ffed8b;
}
select {
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: #081828;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  -webkit-appearance: menulist;
  -moz-appearance: menulist;
  appearance: menulist;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  white-space: pre;
  -webkit-rtl-ordering: logical;
  background-color: -internal-light-dark(white, #3b3b3b);
  cursor: default;
  margin: 0;
  font: 400 14px;
  border-radius: 0;
  border-width: 1px;
  border-style: solid;
  border-color: -internal-light-dark(#767676, #858585);
  -o-border-image: initial;
  border-image: initial;
}
span,
a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
}
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
img {
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  margin: 0;
  color: #081828;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 25px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
hr {
  height: 1px;
  text-align: center;
  position: relative;
  background-color: #e6e6e6;
}
.mt-5 {
  margin-top: 5px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-15 {
  margin-top: 15px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-25 {
  margin-top: 25px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-35 {
  margin-top: 35px;
}
.mt-40 {
  margin-top: 40px;
}
.mt-45 {
  margin-top: 45px;
}
.mt-50 {
  margin-top: 50px;
}
.mt-55 {
  margin-top: 55px;
}
.mt-60 {
  margin-top: 60px;
}
.mt-65 {
  margin-top: 65px;
}
.mt-70 {
  margin-top: 70px;
}
.mt-75 {
  margin-top: 75px;
}
.mt-80 {
  margin-top: 80px;
}
.mt-85 {
  margin-top: 85px;
}
.mt-90 {
  margin-top: 90px;
}
.mt-95 {
  margin-top: 95px;
}
.mt-100 {
  margin-top: 100px;
}
.mt-105 {
  margin-top: 105px;
}
.mt-110 {
  margin-top: 110px;
}
.mt-115 {
  margin-top: 115px;
}
.mt-120 {
  margin-top: 120px;
}
.mt-125 {
  margin-top: 125px;
}
.mt-130 {
  margin-top: 130px;
}
.mt-135 {
  margin-top: 135px;
}
.mt-140 {
  margin-top: 140px;
}
.mt-145 {
  margin-top: 145px;
}
.mt-150 {
  margin-top: 150px;
}
.mt-155 {
  margin-top: 155px;
}
.mt-160 {
  margin-top: 160px;
}
.mt-165 {
  margin-top: 165px;
}
.mt-170 {
  margin-top: 170px;
}
.mt-175 {
  margin-top: 175px;
}
.mt-180 {
  margin-top: 180px;
}
.mt-185 {
  margin-top: 185px;
}
.mt-190 {
  margin-top: 190px;
}
.mt-195 {
  margin-top: 195px;
}
.mt-200 {
  margin-top: 200px;
}
.mt-205 {
  margin-top: 205px;
}
.mt-210 {
  margin-top: 210px;
}
.mt-215 {
  margin-top: 215px;
}
.mt-220 {
  margin-top: 220px;
}
.mt-225 {
  margin-top: 225px;
}
.mb-5 {
  margin-bottom: 5px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-25 {
  margin-bottom: 25px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-35 {
  margin-bottom: 35px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-45 {
  margin-bottom: 45px;
}
.mb-50 {
  margin-bottom: 50px;
}
.mb-55 {
  margin-bottom: 55px;
}
.mb-60 {
  margin-bottom: 60px;
}
.mb-65 {
  margin-bottom: 65px;
}
.mb-70 {
  margin-bottom: 70px;
}
.mb-75 {
  margin-bottom: 75px;
}
.mb-80 {
  margin-bottom: 80px;
}
.mb-85 {
  margin-bottom: 85px;
}
.mb-90 {
  margin-bottom: 90px;
}
.mb-95 {
  margin-bottom: 95px;
}
.mb-100 {
  margin-bottom: 100px;
}
.mb-105 {
  margin-bottom: 105px;
}
.mb-110 {
  margin-bottom: 110px;
}
.mb-115 {
  margin-bottom: 115px;
}
.mb-120 {
  margin-bottom: 120px;
}
.mb-125 {
  margin-bottom: 125px;
}
.mb-130 {
  margin-bottom: 130px;
}
.mb-135 {
  margin-bottom: 135px;
}
.mb-140 {
  margin-bottom: 140px;
}
.mb-145 {
  margin-bottom: 145px;
}
.mb-150 {
  margin-bottom: 150px;
}
.mb-155 {
  margin-bottom: 155px;
}
.mb-160 {
  margin-bottom: 160px;
}
.mb-165 {
  margin-bottom: 165px;
}
.mb-170 {
  margin-bottom: 170px;
}
.mb-175 {
  margin-bottom: 175px;
}
.mb-180 {
  margin-bottom: 180px;
}
.mb-185 {
  margin-bottom: 185px;
}
.mb-190 {
  margin-bottom: 190px;
}
.mb-195 {
  margin-bottom: 195px;
}
.mb-200 {
  margin-bottom: 200px;
}
.mb-205 {
  margin-bottom: 205px;
}
.mb-210 {
  margin-bottom: 210px;
}
.mb-215 {
  margin-bottom: 215px;
}
.mb-220 {
  margin-bottom: 220px;
}
.mb-225 {
  margin-bottom: 225px;
}
.pt-5 {
  padding-top: 5px;
}
.pt-10 {
  padding-top: 10px;
}
.pt-15 {
  padding-top: 15px;
}
.pt-20 {
  padding-top: 20px;
}
.pt-25 {
  padding-top: 25px;
}
.pt-30 {
  padding-top: 30px;
}
.pt-35 {
  padding-top: 35px;
}
.pt-40 {
  padding-top: 40px;
}
.pt-45 {
  padding-top: 45px;
}
.pt-50 {
  padding-top: 50px;
}
.pt-55 {
  padding-top: 55px;
}
.pt-60 {
  padding-top: 60px;
}
.pt-65 {
  padding-top: 65px;
}
.pt-70 {
  padding-top: 70px;
}
.pt-75 {
  padding-top: 75px;
}
.pt-80 {
  padding-top: 80px;
}
.pt-85 {
  padding-top: 85px;
}
.pt-90 {
  padding-top: 90px;
}
.pt-95 {
  padding-top: 95px;
}
.pt-100 {
  padding-top: 100px;
}
.pt-105 {
  padding-top: 105px;
}
.pt-110 {
  padding-top: 110px;
}
.pt-115 {
  padding-top: 115px;
}
.pt-120 {
  padding-top: 120px;
}
.pt-125 {
  padding-top: 125px;
}
.pt-130 {
  padding-top: 130px;
}
.pt-135 {
  padding-top: 135px;
}
.pt-140 {
  padding-top: 140px;
}
.pt-145 {
  padding-top: 145px;
}
.pt-150 {
  padding-top: 150px;
}
.pt-155 {
  padding-top: 155px;
}
.pt-160 {
  padding-top: 160px;
}
.pt-165 {
  padding-top: 165px;
}
.pt-170 {
  padding-top: 170px;
}
.pt-175 {
  padding-top: 175px;
}
.pt-180 {
  padding-top: 180px;
}
.pt-185 {
  padding-top: 185px;
}
.pt-190 {
  padding-top: 190px;
}
.pt-195 {
  padding-top: 195px;
}
.pt-200 {
  padding-top: 200px;
}
.pt-205 {
  padding-top: 205px;
}
.pt-210 {
  padding-top: 210px;
}
.pt-215 {
  padding-top: 215px;
}
.pt-220 {
  padding-top: 220px;
}
.pt-225 {
  padding-top: 225px;
}
.pb-5 {
  padding-bottom: 5px;
}
.pb-10 {
  padding-bottom: 10px;
}
.pb-15 {
  padding-bottom: 15px;
}
.pb-20 {
  padding-bottom: 20px;
}
.pb-25 {
  padding-bottom: 25px;
}
.pb-30 {
  padding-bottom: 30px;
}
.pb-35 {
  padding-bottom: 35px;
}
.pb-40 {
  padding-bottom: 40px;
}
.pb-45 {
  padding-bottom: 45px;
}
.pb-50 {
  padding-bottom: 50px;
}
.pb-55 {
  padding-bottom: 55px;
}
.pb-60 {
  padding-bottom: 60px;
}
.pb-65 {
  padding-bottom: 65px;
}
.pb-70 {
  padding-bottom: 70px;
}
.pb-75 {
  padding-bottom: 75px;
}
.pb-80 {
  padding-bottom: 80px;
}
.pb-85 {
  padding-bottom: 85px;
}
.pb-90 {
  padding-bottom: 90px;
}
.pb-95 {
  padding-bottom: 95px;
}
.pb-100 {
  padding-bottom: 100px;
}
.pb-105 {
  padding-bottom: 105px;
}
.pb-110 {
  padding-bottom: 110px;
}
.pb-115 {
  padding-bottom: 115px;
}
.pb-120 {
  padding-bottom: 120px;
}
.pb-125 {
  padding-bottom: 125px;
}
.pb-130 {
  padding-bottom: 130px;
}
.pb-135 {
  padding-bottom: 135px;
}
.pb-140 {
  padding-bottom: 140px;
}
.pb-145 {
  padding-bottom: 145px;
}
.pb-150 {
  padding-bottom: 150px;
}
.pb-155 {
  padding-bottom: 155px;
}
.pb-160 {
  padding-bottom: 160px;
}
.pb-165 {
  padding-bottom: 165px;
}
.pb-170 {
  padding-bottom: 170px;
}
.pb-175 {
  padding-bottom: 175px;
}
.pb-180 {
  padding-bottom: 180px;
}
.pb-185 {
  padding-bottom: 185px;
}
.pb-190 {
  padding-bottom: 190px;
}
.pb-195 {
  padding-bottom: 195px;
}
.pb-200 {
  padding-bottom: 200px;
}
.pb-205 {
  padding-bottom: 205px;
}
.pb-210 {
  padding-bottom: 210px;
}
.pb-215 {
  padding-bottom: 215px;
}
.pb-220 {
  padding-bottom: 220px;
}
.pb-225 {
  padding-bottom: 225px;
}
.img-bg {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
@keyframes animation1 {
  0% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  50% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  100% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
}
@-webkit-keyframes animation1 {
  0% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  50% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  100% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
}
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  display: table;
  height: 100%;
  width: 100%;
  background: #fff;
  z-index: 99999;
}
.preloader .loader {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.preloader .loader .ytp-spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 64px;
  margin-left: -32px;
  z-index: 18;
  pointer-events: none;
}
.preloader .loader .ytp-spinner .ytp-spinner-container {
  pointer-events: none;
  position: absolute;
  width: 100%;
  padding-bottom: 100%;
  top: 50%;
  left: 50%;
  margin-top: -50%;
  margin-left: -50%;
  -webkit-animation: ytp-spinner-linspin 1568.2353ms linear infinite;
  animation: ytp-spinner-linspin 1568.2353ms linear infinite;
}
.preloader .loader .ytp-spinner .ytp-spinner-container .ytp-spinner-rotator {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1)
    infinite both;
  animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite
    both;
}
.preloader
  .loader
  .ytp-spinner
  .ytp-spinner-container
  .ytp-spinner-rotator
  .ytp-spinner-left {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  right: 50%;
}
.preloader
  .loader
  .ytp-spinner
  .ytp-spinner-container
  .ytp-spinner-rotator
  .ytp-spinner-right {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  left: 50%;
}
.preloader .loader .ytp-spinner-circle {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  width: 200%;
  height: 100%;
  border-style: solid;
  border-color: #5864ff #5864ff #ddd;
  border-radius: 50%;
  border-width: 6px;
}
.preloader .loader .ytp-spinner-left .ytp-spinner-circle {
  left: 0;
  right: -100%;
  border-right-color: #ddd;
  -webkit-animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1)
    infinite both;
  animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite
    both;
}
.preloader .loader .ytp-spinner-right .ytp-spinner-circle {
  left: -100%;
  right: 0;
  border-left-color: #ddd;
  -webkit-animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite
    both;
  animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}
@-webkit-keyframes ytp-spinner-linspin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes ytp-spinner-linspin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes ytp-spinner-easespin {
  12.5% {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  25% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  37.5% {
    -webkit-transform: rotate(405deg);
    transform: rotate(405deg);
  }
  50% {
    -webkit-transform: rotate(540deg);
    transform: rotate(540deg);
  }
  62.5% {
    -webkit-transform: rotate(675deg);
    transform: rotate(675deg);
  }
  75% {
    -webkit-transform: rotate(810deg);
    transform: rotate(810deg);
  }
  87.5% {
    -webkit-transform: rotate(945deg);
    transform: rotate(945deg);
  }
  to {
    -webkit-transform: rotate(1080deg);
    transform: rotate(1080deg);
  }
}
@keyframes ytp-spinner-easespin {
  12.5% {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  25% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  37.5% {
    -webkit-transform: rotate(405deg);
    transform: rotate(405deg);
  }
  50% {
    -webkit-transform: rotate(540deg);
    transform: rotate(540deg);
  }
  62.5% {
    -webkit-transform: rotate(675deg);
    transform: rotate(675deg);
  }
  75% {
    -webkit-transform: rotate(810deg);
    transform: rotate(810deg);
  }
  87.5% {
    -webkit-transform: rotate(945deg);
    transform: rotate(945deg);
  }
  to {
    -webkit-transform: rotate(1080deg);
    transform: rotate(1080deg);
  }
}
@-webkit-keyframes ytp-spinner-left-spin {
  0% {
    -webkit-transform: rotate(130deg);
    transform: rotate(130deg);
  }
  50% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  to {
    -webkit-transform: rotate(130deg);
    transform: rotate(130deg);
  }
}
@keyframes ytp-spinner-left-spin {
  0% {
    -webkit-transform: rotate(130deg);
    transform: rotate(130deg);
  }
  50% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  to {
    -webkit-transform: rotate(130deg);
    transform: rotate(130deg);
  }
}
@-webkit-keyframes ytp-right-spin {
  0% {
    -webkit-transform: rotate(-130deg);
    transform: rotate(-130deg);
  }
  50% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  to {
    -webkit-transform: rotate(-130deg);
    transform: rotate(-130deg);
  }
}
@keyframes ytp-right-spin {
  0% {
    -webkit-transform: rotate(-130deg);
    transform: rotate(-130deg);
  }
  50% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  to {
    -webkit-transform: rotate(-130deg);
    transform: rotate(-130deg);
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 450px;
  }
}
/* 최상단 */
#header {
  background: #ffed8b;
  padding: 0 100px;
}
#header .img-brand {
  width: 180px;
}
#header h3 {
  font-family: "Spoqa Han Sans Neo" !important;
  color: #425466;
  font-size: 21px !important;
  font-weight: 400;
  line-height: 30px;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  #header h3 {
    font-size: 18px !important;
  }
  #header a {
    padding: 2rem !important;
  }
}
@media (max-width: 767px) {
  #header h3 {
    font-size: 15px !important;
  }
  #header a {
    padding: 1rem !important;
    margin-right: 5px !important;
  }
}

/* video Section */
.player-wrapper {
  position: relative;
  padding-top: 56.25%;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

/* 첫번째 */
.first-area {
  position: relative;
  padding: 100px 150px;
  background: #ffed8b;
}
.down-img {
  margin-top: 20px;
  margin-bottom: 15px;
}
.lion-box {
  top: -80px;
}
.intro-lion {
  width: 188px;
}
.lion-text {
  height: 100px;
}

.first-area .hero-image img {
  width: 300px;
}
.first-area .first-content {
  border-radius: 0;
  position: relative;
  z-index: 1;
  text-align: left;
}
.first-area .first-content h1 {
  font-family: "yg-jalnan";
  color: #7a4928;
  font-size: 48px;
  font-weight: bold;
  line-height: 70px;
  margin-bottom: 10px;
  letter-spacing: -0.04em;
  text-transform: capitalize;
}
.first-area .first-content h3 {
  font-family: "Spoqa Han Sans Neo" !important;
  font-weight: bold;
  font-size: 23px;
  line-height: 35px;
  color: #574c4c;
}
.first-area .first-content p {
  font-family: "Spoqa Han Sans Neo" !important;
  color: #425466;
  font-size: 21px;
  font-weight: 400;
  line-height: 30px;
  margin: 0 auto;
  margin-bottom: 10px;
}
@media only screen and (min-width: 1116px) and (max-width: 1352px) {
  .first-area {
    padding: 100px 150px;
  }
  .first-area .first-content h1 {
    font-size: 50px !important;
    font-weight: bold;
    margin-bottom: 20px;
    line-height: 60px !important;
  }
  .first-area .first-content h3 {
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    white-space: nowrap;
  }
  .first-area .first-content p {
    font-family: "Spoqa Han Sans Neo" !important;
    color: #425466;
    font-size: 18px !important;
    font-weight: 400;
    line-height: 30px;
    padding-top: 20px;
    margin: 0 auto;
  }
  .lion-box {
    top: -70px;
  }
  .intro-lion {
    width: 188px;
  }
  .down-img {
    margin-bottom: 15px;
  }
  .store-box {
    width: 300px;
  }
  .first-area .first-content img {
    width: 130px;
  }
  .first-area .hero-image {
    width: 350px;
    margin-top: 20px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1116px) {
  .first-area {
    padding: 100px 50px;
  }
  .first-area .first-content h1 {
    font-size: 50px !important;
    font-weight: bold;
    margin-bottom: 20px;
    line-height: 60px !important;
  }
  .first-area .first-content h3 {
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    white-space: nowrap;
  }
  .first-area .first-content p {
    font-family: "Spoqa Han Sans Neo" !important;
    color: #425466;
    font-size: 18px !important;
    font-weight: 400;
    line-height: 30px;
    padding-top: 20px;
    margin: 0 auto;
  }
  .lion-box {
    top: -70px;
  }
  .intro-lion {
    width: 188px;
  }
  .down-img {
    margin-bottom: 15px;
  }
  .store-box {
    width: 300px;
  }
  .first-area .first-content img {
    width: 130px;
  }
  .first-area .hero-image {
    width: 350px;
    margin-top: 20px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .first-area {
    padding: 20px 30px;
  }
  .first-area .first-content h1 {
    font-size: 40px !important;
    font-weight: bold;
    margin-bottom: 20px;
    line-height: 50px !important;
  }
  .first-area .first-content h3 {
    font-weight: bold;
    font-size: 15px;
    line-height: 30px;
  }
  .first-area .first-content p {
    font-family: "Spoqa Han Sans Neo" !important;
    color: #425466;
    font-size: 15px !important;
    font-weight: 400;
    line-height: 30px;
    padding-top: 20px;
    margin: 0 auto;
  }
  .first-area .hero-image {
    margin-top: 40px;
  }
  .img-qr {
    display: none;
  }
  .first-area .intro-lion {
    display: none;
  }
  .store-box {
    width: 300px;
  }
}
@media (max-width: 767px) {
  .first-area {
    padding: 10px 0 50px;
  }
  .first-area .first-content h1 {
    font-size: 30px !important;
    font-weight: bold;
    line-height: 50px !important;
  }
  .first-area .first-content h3 {
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
  }
  .first-area .first-content p {
    font-family: "Spoqa Han Sans Neo" !important;
    color: #425466;
    font-size: 10px !important;
    font-weight: 400;
    line-height: 30px;
    padding-top: 20px;
    margin: 0 auto;
  }
  .down-img {
    margin-bottom: 15px;
  }
  .img-qr {
    display: none;
  }
  .store-box {
    width: 300px;
  }
  .first-area .first-content img {
    width: 150px;
  }
  .first-area .hero-image {
    margin-top: 40px;
  }
  .first-area .hero-image img {
    width: 250px;
  }
  .first-area .intro-lion {
    display: none;
  }
}

@-webkit-keyframes pulse-border {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 0;
  }
}
@keyframes pulse-border {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 0;
  }
}
@-webkit-keyframes pulse-border-2 {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0;
  }
}
@keyframes pulse-border-2 {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .first-area .first-content h1 {
    font-size: 30px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .first-area .first-content {
    text-align: center;
  }
  .first-area .first-content h1 {
    font-size: 30px;
    font-weight: 700;
    line-height: 38px;
  }
  .first-area .first-content p {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .first-area .first-content {
    text-align: center;
  }
  .first-area .first-content h1 {
    font-size: 24px;
    line-height: 32px;
  }
  .first-area .first-content p {
    margin-top: 15px;
    font-size: 14px;
    line-height: 22px;
  }
}

/* 두번째 */
.sec-area {
  position: relative;
  padding: 100px 50px;
  background-image: url("../img/image 19.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.sec-area .sec-content {
  border-radius: 0;
  position: relative;
  z-index: 1;
  text-align: left;
}
.sec-area .sec-content h1 {
  font-family: "yg-jalnan";
  color: #7a4928;
  font-size: 48px;
  font-weight: bold;
  line-height: 70px;
  letter-spacing: -0.04em;
  margin-bottom: 20px;
  text-transform: capitalize;
}
.sec-area .sec-content h3 {
  font-family: "Spoqa Han Sans Neo" !important;
  font-weight: bold;
  font-size: 23px;
  line-height: 35px;
  color: #574c4c;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .sec-area .sec-content h1 {
    font-family: "yg-jalnan";
    color: #7a4928;
    font-size: 38px !important;
    font-weight: bold;
    line-height: 50px;
    letter-spacing: -0.04em;
    margin-bottom: 20px;
    text-transform: capitalize;
  }
  .sec-area .sec-content h3 {
    font-family: "Spoqa Han Sans Neo" !important;
    font-weight: bold;
    font-size: 18px !important;
    line-height: 30px;
    color: #574c4c;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .sec-area {
    padding: 150px 0 60px;
  }
  .sec-area .hero-image {
    margin-top: 40px;
  }

  .sec-area .hero-image img {
    width: 400px 396pxt;
  }

  .sec-area .sec-content h1 {
    font-family: "yg-jalnan";
    color: #7a4928;
    font-size: 35px !important;
    font-weight: bold;
    line-height: 40px !important;
    letter-spacing: -0.04em;
    margin-bottom: 10px !important;
    text-transform: capitalize;
  }
  .sec-area .sec-content h3 {
    font-family: "Spoqa Han Sans Neo" !important;
    font-weight: bold;
    font-size: 18px !important;
    line-height: 30px;
    color: #574c4c;
  }
}
@media (max-width: 767px) {
  .sec-area {
    padding: 100px 50px;
  }
  .sec-area .hero-image {
    margin-top: 40px;
  }

  .sec-area .hero-image img {
    width: 500px 396pxt;
  }
  .sec-area .sec-content h1 {
    font-family: "yg-jalnan";
    color: #7a4928;
    font-size: 20px !important;
    font-weight: bold;
    line-height: 40px !important;
    letter-spacing: -0.04em;
    margin-bottom: 10px;
    text-transform: capitalize;
    white-space: nowrap;
  }
  .sec-area .sec-content h3 {
    font-family: "Spoqa Han Sans Neo" !important;
    font-weight: bold;
    font-size: 14px !important;
    line-height: 25px;
    color: #574c4c;
    white-space: nowrap;
  }
}

@-webkit-keyframes pulse-border {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 0;
  }
}
@keyframes pulse-border {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 0;
  }
}
@-webkit-keyframes pulse-border-2 {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0;
  }
}
@keyframes pulse-border-2 {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .sec-area .sec-content h1 {
    font-size: 40px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .sec-area .sec-content {
    text-align: center;
  }
  .sec-area .sec-content h1 {
    font-size: 30px;
    font-weight: 700;
    line-height: 38px;
  }
  .sec-area .sec-content p {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .sec-area .sec-content {
    text-align: center;
  }
  .sec-area .sec-content h1 {
    font-size: 24px;
    line-height: 32px;
  }
  .sec-area .sec-content p {
    margin-top: 15px;
    font-size: 14px;
    line-height: 22px;
  }
}

/* 세번째 */
.third-area {
  position: relative;
  padding: 100px 50px;
  background: #ffffff;
}
.third-area .hero-image img {
  width: 396px;
}
.third-area .third-content {
  border-radius: 0;
  position: relative;
  z-index: 1;
  text-align: left;
}
.third-area .third-content h1 {
  font-family: "yg-jalnan";
  color: #7a4928;
  font-size: 52px;
  font-weight: bold;
  line-height: 70px;
  letter-spacing: -0.04em;
  margin-bottom: 20px;
  text-transform: capitalize;
}
.third-area .third-content h3 {
  font-family: "Spoqa Han Sans Neo" !important;
  font-weight: bold;
  font-size: 23px;
  line-height: 35px;
  color: #574c4c;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .third-area .third-content h1 {
    font-family: "yg-jalnan";
    color: #7a4928;
    font-size: 38px !important;
    font-weight: bold;
    line-height: 50px;
    letter-spacing: -0.04em;
    margin-bottom: 20px;
    text-transform: capitalize;
  }
  .third-area .third-content h3 {
    font-family: "Spoqa Han Sans Neo" !important;
    font-weight: bold;
    font-size: 18px !important;
    line-height: 30px;
    color: #574c4c;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .third-area {
    padding: 150px 0 60px;
  }
  .third-area .hero-image {
    margin-top: 40px;
  }

  .third-area .hero-image img {
    width: 400px !important;
  }

  .third-area .third-content h1 {
    font-family: "yg-jalnan";
    color: #7a4928;
    font-size: 35px !important;
    font-weight: bold;
    line-height: 40px !important;
    letter-spacing: -0.04em;
    margin-bottom: 10px !important;
    text-transform: capitalize;
  }
  .third-area .third-content h3 {
    font-family: "Spoqa Han Sans Neo" !important;
    font-weight: bold;
    font-size: 18px !important;
    line-height: 30px;
    color: #574c4c;
  }
}
@media (max-width: 767px) {
  .third-area {
    padding: 100px 50px;
  }
  .third-area .hero-image {
    margin-bottom: 20px;
  }

  .third-area .hero-image img {
    width: 500px !important;
  }
  .third-area .third-content h1 {
    font-family: "yg-jalnan";
    color: #7a4928;
    font-size: 20px !important;
    font-weight: bold;
    line-height: 40px !important;
    letter-spacing: -0.04em;
    margin-bottom: 10px;
    text-transform: capitalize;
    white-space: nowrap;
  }
  .third-area .third-content h3 {
    font-family: "Spoqa Han Sans Neo" !important;
    font-weight: bold;
    font-size: 14px !important;
    line-height: 25px;
    color: #574c4c;
    white-space: nowrap;
  }
}

@-webkit-keyframes pulse-border {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 0;
  }
}
@keyframes pulse-border {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 0;
  }
}
@-webkit-keyframes pulse-border-2 {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0;
  }
}
@keyframes pulse-border-2 {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .third-area .third-content h1 {
    font-size: 40px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .third-area .third-content {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .third-area .third-content {
    text-align: center;
  }
}

/* 네번째 */
.four-area {
  position: relative;
  padding: 100px 50px;
  background-image: url("../img/image 18.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.four-area .four-content {
  border-radius: 0;
  position: relative;
  z-index: 1;
  text-align: left;
}
.four-area .four-content h1 {
  font-family: "yg-jalnan";
  color: #7a4928;
  font-size: 48px;
  font-weight: bold;
  line-height: 70px;
  letter-spacing: -0.04em;
  margin-bottom: 20px;
  text-transform: capitalize;
}
.four-area .four-content h3 {
  font-family: "Spoqa Han Sans Neo" !important;
  font-weight: bold;
  font-size: 23px;
  line-height: 35px;
  color: #574c4c;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .four-area .four-content h1 {
    font-family: "yg-jalnan";
    color: #7a4928;
    font-size: 36px !important;
    font-weight: bold;
    line-height: 50px;
    letter-spacing: -0.04em;
    margin-bottom: 20px;
    text-transform: capitalize;
  }
  .four-area .four-content h3 {
    font-family: "Spoqa Han Sans Neo" !important;
    font-weight: bold;
    font-size: 18px !important;
    line-height: 30px;
    color: #574c4c;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .four-area {
    padding: 150px 0 60px;
  }
  .four-area .hero-image {
    margin-top: 40px;
  }

  .four-area .hero-image img {
    width: 400px !important;
  }

  .four-area .four-content h1 {
    font-family: "yg-jalnan";
    color: #7a4928;
    font-size: 35px !important;
    font-weight: bold;
    line-height: 40px !important;
    letter-spacing: -0.04em;
    margin-bottom: 10px !important;
    text-transform: capitalize;
  }
  .four-area .four-content h3 {
    font-family: "Spoqa Han Sans Neo" !important;
    font-weight: bold;
    font-size: 18px !important;
    line-height: 30px;
    color: #574c4c;
  }
}
@media (max-width: 767px) {
  .four-area {
    padding: 100px 50px;
  }
  .four-area .hero-image {
    margin-top: 20px;
  }

  .four-area .hero-image img {
    width: 500px !important;
  }
  .four-area .four-content h1 {
    font-family: "yg-jalnan";
    color: #7a4928;
    font-size: 20px !important;
    font-weight: bold;
    line-height: 40px !important;
    letter-spacing: -0.04em;
    margin-bottom: 10px;
    text-transform: capitalize;
    white-space: nowrap;
  }
  .four-area .four-content h3 {
    font-family: "Spoqa Han Sans Neo" !important;
    font-weight: bold;
    font-size: 14px !important;
    line-height: 25px;
    color: #574c4c;
    white-space: nowrap;
  }
}

@-webkit-keyframes pulse-border {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 0;
  }
}
@keyframes pulse-border {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 0;
  }
}
@-webkit-keyframes pulse-border-2 {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0;
  }
}
@keyframes pulse-border-2 {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .four-area .four-content h1 {
    font-size: 40px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .four-area .four-content {
    text-align: center;
  }
  .four-area .four-content h1 {
    font-size: 30px;
    font-weight: 700;
    line-height: 38px;
  }
  .four-area .four-content p {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .four-area .four-content {
    text-align: center;
  }
  .four-area .four-content h1 {
    font-size: 24px;
    line-height: 32px;
  }
  .four-area .four-content p {
    margin-top: 15px;
    font-size: 14px;
    line-height: 22px;
  }
}
/* Contact Section */
#contact {
  padding: 100px 50px;
}
#contact .section-title {
  margin-bottom: 10px;
}

#contact h1 {
  font-family: "yg-jalnan";
  color: #7a4928;
  font-size: 52px;
  font-weight: bold;
  line-height: 70px;
  letter-spacing: -0.04em;
  margin-bottom: 20px;
}
#contact h3 {
  color: #574c4c;
  font-family: "Spoqa Han Sans Neo" !important;
  font-weight: bold;
  font-size: 21px;
  line-height: 35px;
}
#contact form {
  margin-top: 20px;
}

#contact input {
  border: 1px solid #edbb3c;
  border-radius: 11px;
  margin-right: 5px;
  width: 400px;
  height: 55px;
  float: left;
}
#contact .text-danger {
  color: #cc0033;
  text-align: left;
}
#contact .btn-custom {
  height: 55px;
  max-width: 19% !important;
  background: #ff8601;
  border: 1px solid #edbb3c;
  border-radius: 7px;
  color: #ffffff;
  font-family: "Spoqa Han Sans Neo" !important;
  font-size: 19px;
}

#contact .form-control {
  font-size: 16px;
  background-image: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}
#contact .form-control:focus {
  outline: 0;
  -webkit-box-shadow: transparent;
  box-shadow: transparent;
}
.success {
  font-family: "Spoqa Han Sans Neo" !important;
  color: #ff8601;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
}
.success-feedback {
  font-size: 0px;
}
.done {
  font-size: 15px;
}
.fail {
  font-family: "Spoqa Han Sans Neo" !important;
  color: #e9484c;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
}

.form-control::-webkit-input-placeholder {
  color: #c4c4c4;
}
.form-control:-moz-placeholder {
  color: #c4c4c4;
}
.form-control::-moz-placeholder {
  color: #c4c4c4;
}
.form-control:-ms-input-placeholder {
  color: #c4c4c4;
}
@media (max-width: 767px) {
  #contact {
    padding: 50px 50px;
  }
  #contact h1 {
    font-family: "yg-jalnan";
    color: #7a4928;
    font-size: 32px !important;
    font-weight: bold;
    line-height: 70px;
    letter-spacing: -0.04em;
    margin-bottom: 10px;
    white-space: nowrap;
  }
  #contact h3 {
    color: #574c4c;
    font-family: "Spoqa Han Sans Neo" !important;
    font-weight: bold;
    font-size: 11px !important;
    line-height: 35px;
    white-space: nowrap;
  }
  #contact input {
    color: #574c4c;
    font-family: "Spoqa Han Sans Neo" !important;
    font-size: 11px !important;
    border: 1px solid #edbb3c;
    border-radius: 7px;
    width: 300px;
    height: 35px;
    float: left;
  }
  #contact .form-group {
    margin-right: 7px;
  }
  #contact .btn-custom {
    height: 35px;
    max-width: 25% !important;
    background: #ff8601;
    border: 1px solid #edbb3c;
    border-radius: 7px;
    color: #ffffff;
    margin-left: 0 !important;
    font-family: "Spoqa Han Sans Neo" !important;
    font-size: 12px;
    text-align: center !important;
  }
  #contact .btn {
    text-align: center !important;
  }
  .success {
    font-family: "Spoqa Han Sans Neo" !important;
    color: #ff8601;
    font-weight: 400;
    font-size: 11px;
    line-height: 30px;
  }
  .success-feedback {
    font-size: 0px;
  }
  .done {
    font-size: 10px;
  }
  .fail {
    font-family: "Spoqa Han Sans Neo" !important;
    color: #e9484c;
    font-weight: 400;
    font-size: 11px;
    line-height: 30px;
  }
}
/* Footer Section*/
footer {
  padding: 50px 100px;
}

footer p {
  font-family: "Spoqa Han Sans Neo" !important;
  color: #9e9e9e;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
}
.list-text {
  font-family: "Spoqa Han Sans Neo" !important;
  color: #6d6d6d;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
}
footer .email {
  font-family: "Spoqa Han Sans Neo" !important;
  color: #6d6d6d;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
}
footer h5 {
  font-family: "Spoqa Han Sans Neo" !important;
  color: #3d3d3d;
  font-weight: 400;
  font-size: 16px !important;
  line-height: 26px;
}
footer li {
  margin: 10px 0;
}
footer .footer-right {
  left: 100px;
}
footer .footer-bottom {
  margin-top: 30px;
}
footer .footer-img {
  width: 43px;
}
footer .foot-row {
  margin-left: 0;
  margin-right: 0;
}
ul {
  padding-inline-start: 0px;
}
@media (max-width: 767px) {
  footer {
    padding: 50px !important;
  }
  footer .email-info {
    font-size: 0px;
  }
}
